autopep8==2.0.2
click==8.1.3
colorama==0.4.6
Flask==2.2.2
gunicorn==20.1.0
importlib-metadata==6.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
MarkupSafe==2.1.2
nltk==3.8.1
numpy==1.24.1
py4j==0.10.9.5
pycodestyle==2.10.0
pyspark==3.3.2
regex==2022.10.31
scikit-surprise==1.1.3
scipy==1.10.1
tomli==2.0.1
torch==1.13.1
tqdm==4.64.1
typing_extensions==4.4.0
Werkzeug==2.2.2
zipp==3.15.0
