<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KCT Naviguide</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='360-view/css/360-style.css') }}">

</head>
<body>
    <div id="panorama"></div>

    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>

    <script>
        var image_url = "{{ url_for('static', filename='360-view/images/admin360.jpg') }}";
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='360-view/js/main.js') }}"></script>
    
</body>
</html>
